/* TEASER */
.slider_wrapper--item,
.slider_wrapper--teaser {
  position: relative;
  width: 225px;
  /* border-radius: 0.5rem; */
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--color-primary);
  margin-right: 5px;
  color: white;
}

.item_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: transform 0.5s ease-in;
}

.slider_wrapper--teaser {
  border-bottom: 1px solid lightslategray;
}

.slider_teaser {
  width: 225px;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  margin-right: 5px;
  color: white;
}

.teaser_header {
  height: 130px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.specific_style {
  font-size: smaller;
}
