.slider_wrapper--item {
  position: relative;
  width: 225px;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  margin-right: 5px;
  color: white;
}
.slider_wrapper--item:hover {
  /* z-index: 2; */
  /* transform: scale(1.05); */
  /* transform: scale(1.5); */
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 24px !important;
}

.slider_wrapper--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: transform 0.5s ease-in;
}

.slider_teaser {
  width: 225px;
  height: 100%;
  border-radius: 0.5rem;

  background-color: var(--color-primary);
  margin-right: 5px;
  color: white;

}

.slider_teaser--header {
  height: 130px;
  border-radius: 0.5rem 0.5rem 0 0;
}
