/* BUTTONS with ICONS */
.group_icons,
.group_icons--vote {
  display: flex;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  background: var(--color-primary);
  color: var(--color-default);
}

.icon_play svg {
  font-size: 1.9rem;
}

.icon_play svg:hover {
  transform: scale(1.1);
}

.icon_add svg,
.icon_thumb svg {
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.25rem;
  font-size: smaller;
}

.vote_count {
  position: absolute;
  top: -1rem;
  font-size: x-small;
  width: 30px;
  left: -0.25rem;
  text-align: center;
}

.icon_yes svg:hover,
.icon_yes--active svg {
  /* .icon_yes:focus svg { */
  border-radius: 1rem;
  border: 2px solid lightgreen;
  color: lightgreen;
}

.icon_no svg:hover,
.icon_no--active svg {
  /* .icon_no:focus svg { */
  border-radius: 1rem;
  border: 2px solid coral;
  color: coral;
}

.icon_check svg {
  border: 2px solid lightgreen;
  border-radius: 1rem;
  padding: 0.25rem;
  font-size: smaller;
  color: lightgreen;
}
