.popup {
  width: 225px;
  height: inherit;
  /* height: 100%; */
  /* height: 120px; */
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-right: 5px;
  overflow-Y: hidden;
  color: white;
}

.popup video {
  object-fit: cover;
  width: 100%;
  height: 20%;
}

.popup-infos {
  overflow-Y: hidden;
}
