.popup {
  width: 225px;
  /* height: 100%; */
  height: 375px;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-right: 5px;
  color: white;
}

.popup_trailer {
  object-fit: cover;
  width: 100%;
  height: 35%;
}

.popup_infos--description {
  height: 98px;
  overflow: auto;
  font-weight: 300;
}
