/* SELECT */
.react_select-container {
  margin-left: 0.5rem;
  width: 7.5rem;
}

.react_select__control {
  background-color: var(--color-primary);
  font-size: medium;
  font-weight: 400;
  text-transform: lowercase;
}

.react_select__single-value {
  color: var(--color-default) !important;
  font-size: medium;
}

.react_select__menu {
  max-height: fit-content;
  overflow: auto;
  background-color: var(--color-primary);
  color: var(--color-default);
  font-size: medium;
  font-weight: 400;
}

.react_select__menu::-webkit-scrollbar,
.react_select__menu-list::-webkit-scrollbar {
  width: 0;
}

.react_select__menu-list {
  padding: 0;
}