.feature {
  position: relative;
  height: 90vh;
  color: white;
}

.feature-category {
  position: absolute;
  top: 5rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: large;
}

#genre {
  margin-left: 0.5rem;
  width: 9.6rem;
}

/* .react-select__control {
  background: var(--color-primary);
} */

#genre > div,
#react-select-3-listbox {
  background-color: var(--color-primary);
}

#genre div::-webkit-scrollbar {
  width: 0;
}

#genre > div > div > div {
  color: white;
  font-size: medium;
  font-weight: 300;
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-content {
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 100px;
}

.feature-content img {
  width: 10rem;
}

.feature-description {
  margin: 1rem 0;
  font-weight: 300;
}

.feature-options button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.feature-options button svg {
  margin-right: 0.5rem;
}
