.navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--color-default);
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.scrolled {
    background-color: var(--color-primary);
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_left {
  margin-left: 0.5rem;
  flex-grow: 2;
}

.navbar_left--logo {
  width: 100px;
  padding: 1.5rem 1rem;
}

.navbar_left,
.navbar_right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_right {
  padding: 0 0.5rem 0 6%;
  flex-grow: 1;
}

.navbar_right--avatar {
  width: 32px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  cursor: pointer;
}

.navbar_right--profile {
  padding-top: 0.5rem;
}

.navbar_right--options {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 2rem;
  right: 0;
  background-color: var(--color-secondary);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem;
}

.navbar_right--options button > * {
  width: 1rem;
}
