.search_movie {
  position: relative;
  margin-top: 5rem;
}

.search_movie input {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search_movie svg {
  margin-right: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
}
