/* VIDEO */
.video_player {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_player-btn {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-default);
  background: var(--color-secondary);
  border-radius: 0.5rem;
}
