.footer {
  width: 60%;
  margin: 5rem auto 1rem;
}

.footer * {
  color: grey;
  font-size: small;
  font-weight: 300;
}
.footer_socials {
  display: flex;
  margin-bottom: 1rem;
}

.footer_socials-links {
  width: 40px;
}

.footer_links-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer_links-link {
  flex-basis: 15%;
}

.footer_socials-links :hover,
.footer_links-link :hover {
  color: lightgrey;
}

.footer_code {
  width: fit-content;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid 1px grey;
}

.footer_code:hover {
  border: solid 1px lightgrey;
}

.footer_code :hover {
  color: lightgrey;
}

.footer_copyright {
  text-align: right;
}

/* ADAPTATIVE */
@media screen and (max-width: 768px) {
  .footer_links-link {
    flex-basis: 50%;
  }

  .footer_copyright {
    text-align: left;
  }
}
