/* FOOTER */
.footer {
  width: 60%;
  margin: 5rem auto 1rem;
}

.footer * {
  color: grey;
  font-size: small;
  font-weight: 300;
}
.footer_socials {
  display: flex;
  margin-bottom: 1rem;
}

.footer_socials li {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}

.footer_socials-links svg {
  width: 1.5rem;
  height: 1.5rem;
}

.footer_links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer_links-link {
  font-size: large;
  flex-basis: 15%;
}

.footer_links-link a {
  font-size: medium;
}

.footer_socials-links :hover,
.footer_links-link :hover {
  color: var(--color-tertiary);
}

.footer_code {
  width: fit-content;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid 1px grey;
}

.footer_code:hover {
  border: solid 1px var(--color-tertiary);
}

.footer_code :hover {
  color: var(--color-tertiary);
}

.footer_copyright {
  text-align: right;
}

/* ADAPTATIVE */
@media screen and (max-width: 1200px) {
  .footer_links-link {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 900px) {
  .footer_links-link {
    flex-basis: 30%;
  }

  .footer_copyright {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 90%;
  }
}
