/* SEARCH BAR IN MODAL COMPONENT */
.search_form {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 5rem auto 1rem;
  height: 3rem;
  padding: 0;
  color: var(--color-default);
}

.search_input {
  height: 1.25rem;
  padding: 1rem 2rem 1rem 0.5rem;
  border: none;
  outline: none;
  font-size: large;
  font-weight: 100;
  background: var(--color-primary);
  border-bottom: 2px solid var(--color-default);
  color: var(--color-default);
}

.search_input:focus {
cursor: text;
}

.search_submit {
  position: absolute;
  top: 35%;
  margin-right: 0;
  transform: translateX(450%);
  border: none;
  cursor: pointer;
}

.search_form svg {
  color: var(--color-tertiary);
}

.search_form svg:hover {
  color: var(--color-default);
}

.search_msg {
  margin-top: 2rem;
  text-align: center;
  color: var(--color-default);
}
