/* SEARCH BAR IN NAVIGATION COMPONENT */
.search {
  position: relative;
  /* height: 5rem; */
  height: 3rem;
  padding: 0;
}

.submit {
  /* position: absolute;
  top: -1rem;
  right: -2rem; */
  z-index: 4;
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  background: red;
}

/* .search_input:focus + .submit {
  z-index: 4;
  background: red;
} */

.search_input {
  position: absolute;
  z-index: 3;
  top: 0;
  right: -2rem;
  width: 0;
  /* height: 3rem; */
  height: 1.25rem;
  padding: 1rem 2.75rem 1rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: none;
  outline: none;
  font-size: large;
  font-weight: 100;
  background: none;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

.search_input:focus {
  width: 18rem;
  z-index: 1;
  background: var(--color-primary);
  border-bottom: 2px solid var(--color-default);
  color: var(--color-default);
  cursor: text;
}

.search_submit {
  position: absolute;
  z-index: 2;
  /* top: 2rem; */
  top: 1rem;
  margin-right: 0;
  text-indent: -10000px;
  border: none;
  cursor: pointer;
}

/* .search_submit:hover {
  color: var(--color-secondary);
} */

/* SEARCH BAR IN MODAL COMPONENT */
.modal_search {
  position: absolute;
  top: 0;
}

.modal_search--form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
  height: 3rem;
  padding: 0;
  color: var(--color-default);
}

.modal_search--input {
  width: 18rem;
  height: 1.25rem;
  padding: 1rem 2.75rem 1rem 1rem;
  border: none;
  outline: none;
  font-size: large;
  font-weight: 100;
  background: var(--color-primary);
  border-bottom: 2px solid var(--color-default);
  color: var(--color-default);
}

.modal_search--input:focus {
cursor: text;
}

.modal_search--submit {
  position: absolute;
  top: 1rem;
  margin-right: 0;
  transform: translateX(9rem);
  border: none;
  cursor: pointer;
}

.modal_search--msg {
  margin-top: 2rem;
  text-align: center;
  color: var(--color-default);
}
