/*
Author: Amandine ARIAS alias Codexarama;
Project: Netflix Clone;
Type: React app;
Description: Netflix Clone is a streaming platform clone with movies, series and user settings;
First version: 20/01/2022;
Tags:
    netflix,
    streaming,
    platform,
    react,
    app,
    clone,
    App,
    movies,
    series,
    settings,
    form,
    lightbox,
    carousel,
    dynamic,
    development;
*/

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
}

/* COLORS */
:root {
  --color-primary: #141414;
  --color-secondary: #d81f26;
  --color-tertiary: lightgray;
  --color-default: white;
  --color-validate: lightgreen;
  --color-exit: #ff4242;
}

/* GENERAL */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  all: unset;
}

body {
  background-color: var(--color-primary);
}

li {
  list-style: none;
}

a,
.icon {
  text-decoration: none;
  color: inherit;
}

/* PAGE */
.main_content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content--title
{
  margin-top: 6rem;
  color: var(--color-default);
}

.main_content--results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.main_content--results .slider_wrapper--item,
.main_content--results .slider_wrapper--teaser {
  margin: 1.5rem;
}

.main_content--info {
  margin: 1rem 0;
  color: var(--color-default);
}

.main_content--search {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 5rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--color-primary);
  cursor: pointer;
}

.main_content--search svg {
  margin-right: 0.25rem;
}

.main_content--search:hover {
  background-color: var(--color-default);
}

/* MODAL CONTAINER */
.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.modal_close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: var(--color-exit);
  border-radius: 50%;
  border: none;
  color: var(--color-default);
  font-weight: 600;
}

.modal_close {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.modal_close:hover {
  transform: scale(1.1);
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
