/* BANNER */
.banner {
  height: 70vh;
  color: var(--color-default);
}

.banner .vignette {
  height: 70vh;
}

.banner_category {
  position: absolute;
  top: 5rem;
  left: 3rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: large;
}

.banner_content {
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 35vh;
}

.banner_description {
  margin: 1rem 0;
  font-weight: 300;
}

.banner_options button {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 5rem;
  font-weight: 700;
  cursor: pointer;
}

.banner_options button svg {
  margin-right: 0.25rem;
}

.banner_options--play {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.7);
}

.banner_options--play:hover {
  background-color: var(--color-default);
}

.banner_options--info {
  background-color: rgba(110, 110, 110, 0.7);
}

.banner_options--info:hover {
  background-color: grey;
}
