/* BANNER */
.banner {
  height: 70vh;
  color: var(--color-default);
}

.banner .vignette {
  height: 70vh;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.banner_category {
  position: absolute;
  top: 5rem;
  left: 3rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: large;
}

.banner_content {
  width: 65%;
  padding: 0 8%;
  position: absolute;
  bottom: 35vh;
}

.banner_title {
  font-size: xxx-large;
}

.banner_description {
  margin: 1rem 0;
  font-weight: 300;
  font-size: x-large;
}

.banner_options button {
  display: inline-flex;
  align-items: center;
  margin-right: 1.25rem;
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-radius: 5rem;
  font-weight: 700;
  font-size: larger;
  cursor: pointer;
}

.banner_options button svg {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.banner_options--play {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 1s;
}

.banner_options--play:hover {
  background-color: var(--color-default);
}

.banner_options--info {
  background-color: rgba(110, 110, 110, 0.7);
  transition: all 1s;
}

.banner_options--info:hover {
  background-color: grey;
}

/* ADAPTATIVE */
@media screen and (max-width: 400px) {
  .banner_content {
    width: 90%;
  }
}
