.banner {
  position: relative;
  height: 70vh;
  color: var(--color-default);
}

.vignette {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(14, 14, 14, 0),
    rgba(14, 14, 14, 0.1),
    var(--color-primary)
  );
}

.banner_category {
  position: absolute;
  top: 5rem;
  left: 3rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: large;
}

#genre {
  margin-left: 0.5rem;
  width: 7.5rem;
}

/* .react-select__control {
  background: var(--color-primary);
} */

#genre > div,
#react_select-3-listbox {
  background-color: var(--color-primary);
}

#genre div::-webkit-scrollbar {
  width: 0;
}

.react_select__menu {
  max-height: 190px;
  overflow: auto;
}

#genre > div > div > div {
  color: var(--color-default);
  font-size: medium;
  font-weight: 300;
}

.banner_content {
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.banner_description {
  margin: 1rem 0;
  font-weight: 300;
}

.banner_options button {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 5rem;
  font-weight: 700;
  cursor: pointer;
}

.banner_options button svg {
  margin-right: 0.25rem;
}

.banner_options--play {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.7);
}

.banner_options--play:hover {
  background-color: var(--color-default);
}

.banner_options--info {
  background-color: rgba(110, 110, 110, 0.7);
}

.banner_options--info:hover {
  background-color: grey;
}
