.slider {
  margin-top: 1rem;
}

.slider-title {
  margin: 1rem 1.75rem 0.5rem 1.75rem;
  color: white;
}
.slider-content {
  display: flex;
  width: max-content;
  margin-left: 1.75rem;
  transform: translateX(0px);
  transition: all 1s ease
}

.slider-wrapper {
  position: relative;
}

.sliderArrow {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  height: 120px;
  color: white;
  background-color: rgb(22, 22, 22, 0.5);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
