.slider {
  margin-top: 1rem;
}

.slider_title {
  margin: 1rem 1.75rem 0.5rem 1.75rem;
  color: white;
}

.slider_content {
  display: flex;
  width: max-content;
  margin-left: 1.75rem;
  transform: translateX(0px);
  transition: all 1s ease
}

.slider_wrapper {
  position: relative;
}

.slider_arrow {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  height: 120px;
  color: white;
  background-color: rgb(22, 22, 22, 0.5);
}

.slider_arrow--left {
  left: 0;
}

.slider_arrow--right {
  right: 0;
}

.item {
  width: 225px;
  height: 120px;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-right: 5px;
  overflow: hidden;
  color: white;
}

.item:hover {
  width: 325px;
  height: 250px;
  position: absolute;
  top: -150px;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.2);
}

.item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in;
}

.item:hover img {
  height: 140px;
  transform: scale(1.1);
}