.slider {
  margin-top: 1rem;
}

.slider_title {
  margin: 1rem 1.75rem 0.5rem 1.75rem;
  color: white;
}

.slider_wrapper {
  position: relative;
}

.slider_wrapper--content {
  display: flex;
  width: max-content;
  margin-left: 1.75rem;
  transform: translateX(0px);
  transition: all 1s ease;
}

.slider_wrapper--nav {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  color: white;
  background-color: rgb(22, 22, 22, 0.5);
}

.slider_wrapper--navLeft {
  left: 0;
}

.slider_wrapper--navRight {
  right: 0;
}

.slider_wrapper--item {
  position: relative;
  width: 225px;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-right: 5px;
  overflow: hidden;
  color: white;
}

/* .slider_wrapper--item:hover {
  width: 325px;
  height: 250px;
  position: absolute;
  top: -150px;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.2);
} */

.slider_wrapper--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* transition: transform 0.5s ease-in; */
}

/* .slider_wrapper--image:hover {
  height: 140px;
  transform: scale(1.1);
} */

.slider_wrapper--title {
  position: absolute;
  width: 93%;
  left: 8px;
  bottom: 5px;
  font-weight: 400;
  font-size: small;
  color: white;
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
